

<form action="/cuisine/sortby" method="post">
  <select name="cuisineSort">
      <option name="default" value=0>All</option>
    @foreach (var cuisine in Model["cuisine"])
    {
      <option name="@cuisine.GetName()" value=@cuisine.GetId()>@cuisine.GetName()</option>
    }
  </select>
  <button type="submit">Sort by cuisine</button>
</form>
<ul>
  @foreach (var restaurant in Model["restaurants"])
  {
    @if ( restaurant.GetCuisineId() == restaurant.GetSortValue() || restaurant.GetSortValue() == 0)
    {
    <li> @restaurant.GetName() </li>
    }
  }
</ul>
<h6><em><a href="/restaurant/delete/all">remove all restaurants</a></em></h6>
<form action="/restaurant/new" method="post">
  <input type="text" name="restaurantName" placeholder="new restaurant name">
  <select name="cuisineSelect">
    @foreach (var cuisine in Model["cuisine"])
    {
      <option name="@cuisine.GetName()" value=@cuisine.GetId()>@cuisine.GetName() @cuisine.GetId()</option>
    }
  </select>
  <button type="submit">Add Restaurant</button>
</form>

<form action="/cuisine/new" method="post">
  <input type="text" name="cuisineName" id="cuisineName">
  <button type="submit">Add Cuisine Category</button>
</form>
<a href="/cuisine/delete">Remove a cuisine</a>
<a href="/cuisine/edit">Edit/rename a cuisine</a>
